.amino--two-column {
  display: flex;
  flex-wrap: wrap;
}

.amino--two-column > .region--heading {
  flex: 0 1 100%;
}

.amino--two-column .row-content {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 100%;
}

.amino--two-column .row-content > .amino-layout-region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .amino--two-column .row-content > .region--first,
  .amino--two-column .row-content > .region--second {
    flex: 0 1 50%;
  }
}
