{#
/**
 * @file
 * Default one column layout template for Amino Page Builder.
 *
 * Available variables:
 * - content: The content for this layout.
 * - settings: Settings for this layout.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'amino-layout',
    'amino--one-column',
  ]
%}

{% set classes = classes|merge([settings.additional_classes]) %}

{% if settings.full_width %}
  {% set classes = classes|merge(['amino-layout--fullwidth']) %}
{% endif %}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if settings.heading %}
      <div class="region--heading">
        <h2 class="row-heading">{{ settings.heading }}</h2>
      </div>
    {% endif %}

    <div class="row-content">
      <div {{ region_attributes.content.addClass('amino-layout-region', 'region--content') }}>
        {{ content.content }}
      </div>
    </div>
  </div>
{% endif %}
